@charset "utf-8";
/* CSS Document */
.card {
	border: #185419 dashed;
	border-radius: 30px;
	padding: 10px;
}
.card:hover {
	border: #185419 dashed;
	border-radius: 30px;
	padding: 10px;
	background-color: antiquewhite;
}
.card-img-top {
	border-radius: 20px;
}
h2 {
	color: #F1680F;
}
h5 {
	color: #F1680F;
}
.card .btn-primary{
	background-color: #185419;
	border: none;
}
.card .btn-primary:hover {
	background-color: #F1680F;
}