@charset "utf-8";
/* CSS Document */

/*Bảng màu
	*/
#container {
	width: 1200px;
	margin: 0px auto; /*canh giữa trang*/
}
#menu {
	width: 100%;
	height: 40px;
}
#menu ul { /*định dạng danh sách*/
	margin: 0px ; /*khoảng cách so với trên - dưới*/
	padding-left: 0px; /*khoảng cách từ đường viền đến nội dung*/
	list-style: none; /*kiểu danh sách (none: bỏ dấu bullet)*/
	
}
#menu ul li { /*định dạng từng mục trong danh sách*/
	float: left;
	width: 200px;
	text-align: center;/*canh giữa theo chiều ngang*/
	line-height: 40px; /*canh giữa theo chiều cao: giá trị luôn bằng height*/
	background-color: darkgreen;
}
#menu ul li a {
	text-decoration: none; /*bỏ gạch chân*/
	color: #fff;
	font-weight: bold;
	display: block; /*liên kết cho cả khối li*/
}
#menu ul li a:hover {
	background-color: orange;
	
}
/*Style cấp 2*/

#menu ul ul {
	display: none; /*ban đầu: ẩn ul cấp 2*/
	
}

#menu ul ul li{
	background-color: green;
	position: relative; /*thằng Cha*/
}

#menu ul li:hover ul {
	display: block;
}
#menu ul li:hover ul ul {
	display: none; /*ul cấp 3 ẩn*/
}
#menu ul ul li:hover ul {
	display: block; /*ul cấp 3 hiển thị lên*/
	position: absolute; /*thằng Con*/
	top: 0px;
	left: 200px;
}
