@charset "utf-8";
/* CSS Document */
/*chỉ viết STYLE - không thêm nội dung hay hình ảnh*/

#container {
	width: 1200px;
	height: auto;
	background-color: antiquewhite;
	margin: 0px auto
}
#header {
	width: 100%;
	height: 200px; 
	background-color: aqua
}
#left {
	width: 200px; 
	height: 600px;/*sau này auto*/ 
	background-color: coral; 
	float: left
}
#middle {
	width: 770px; 
	margin: 0px 15px; 
	height: 600px; 
	float: left /*canh lề của div middle so với div cointainer - nhưng bên cạnh left*/}
.khung {
	width: 230px;
	height: auto;
	margin: 10px; /*khoảng cách so với các đối tượng xung quanh*/
	border: #1B5217 dashed 2px; /*màu kiểu độ dày*/
	padding: 10px; /*khoảng cách từ đường viền đến nội dung bên trong*/
	border-radius: 20px; /*bo tròn*/
	float: left;
}
.tieude, .gia {
	color: darkgreen;
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	margin: 10px 0px;
}
img {
	width: 230px;
	height: 300px;
	border-radius: 20px; /*bo tròn 4 góc*/
	
}
.mota {
	text-align: center;
	
}
.nut {
	width: 100px;
	height: 40px;
	float: left; /*cho các nút nằm cạnh nhau*/
	background-color: #C42AB8;
	color: white;
	margin: 5px; /*khoảng cách từ nút đến xung quanh*/
	font-weight: bold;
	text-align: center; /*canh lề của chữ theo chiều ngang*/
	line-height: 40px; /*canh lề chữ theo chiều cao*/
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
a {
	color: #FFFFFF;
	text-decoration: none; /*bỏ gạch chân*/
	display: block;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
a:hover {/*hiệu ứng khi rê chuột đến liên kết*/
	background-color: aqua}
#right {
	width: 200px; 
	height: 600px; 
	background-color: crimson; 
	float: right;/*canh lề của div right so với div cointainer*/
}
#footer {
	width: 100%; 
	height: 150px; 
	background-color: blueviolet; 
	clear: both;/*Tẩy não: xóa bỏ các float của các div phía trước*/
}